* {
  margion: 0;
  padding: 0;
}
html,body { height:100%; }

body {
  background-image: url(image/BG.jpg);
  background-position: center center;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
  background-color: #71c5cf;
}

#balloon {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  width : 330px;
  height: 330px;
  background:url(image/kikyuu_b.png) no-repeat 0 0;
  /*opacity : 0.7;*/
}